/* .details {
  position: relative;
  z-index: 1;
}
.card-image {
  position: relative;
  z-index: 5;
  overflow: hidden;
  transition: 0.4s;
  background: #000;
  z-index: 5;
}
.card-image img {
  transition: 0.3s;
}
.details:hover .card-image img {
  transform: scale(1.1);
} */
/* .details-content {
  height: 80px;
  width: 100%;
  position: absolute;
  text-align: center;
  overflow: hidden;
  bottom: 0;
  transition: 0.4s;
  background: #000;
  z-index: 5;
} */
/* .details:hover .details-content {
  height: 150px;
} */
.card-image:hover {
  /* background-color: rgba(255, 255, 255, #000); */
  /* background-color: linear-gradient(
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.5)
  ); */
  /* background: black; */
  /* background-color: rgba(255, 255, 255, 255, 0.6); */
  /* transition: 1s; */
  /* opacity: 0.3; */
  /* background: rgba(0, 0, 0, 0.7); */
  /* background-blend-mode: darken; */
}

.card-details-btn button {
  /* display: none; */
  /* position: absolute; */
  /* bottom: 300px; */
  margin-left: 100px;
  /* color: white; */
  background-color: orange;
}

.details-btn:hover {
  background-color: orange;
}

.details:hover .details-btn {
  /* display: block; */
}
